@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Raleway&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}



body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 47, 47);  
  transition: ease 0.3s;
  font-size: 17.5px;
}

header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) ;
}

nav {
display: flex;
justify-content: space-around;
align-items: center;
border-bottom: 2px solid rgb(24, 24, 24);
}

nav a:hover {
  font-size: 19px;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  font-size: 18.5px;
  list-style: none;
  margin-right: 10rem;
}

#homepage_article {

 background: url(iphoneCloseUp.jpg);
 background-size: 100rem 60rem;
 width: 100%;
 height: 700px;
 border-bottom: 3.5px solid rgb(162, 162, 162);
 display: flex;
 justify-content: center;
 align-content: center;
 padding-bottom: 15rem;

}


#homepage_article h1 {
color: rgb(255, 255, 255);
font-size: 130px;
padding: 10rem 0 4rem 5rem;
text-shadow: 4px 3px 5px rgb(89, 89, 89);
font-weight: bolder;

}


#homepage_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
  border: 3.5px rgb(0, 0, 0) solid;
  border-radius: 5px;
}

#homepage_main h2 {
  font-size: 100px;
  margin-top: 7rem;
  margin-bottom: 6rem;
}
#homepage_main p {
  margin-bottom: 10rem;
  font-size: 17.5px;
}

.product_showcase {
  display: flex;
  justify-content: space-around;
  

}

.product_showcase img {
  border: 2px solid black ;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  margin-top: 10rem;
  margin: 2rem 2rem 0.5rem 1rem;
  padding: 1rem;
  box-shadow: inset 1px 5px 20px rgb(249, 249, 249);
  }

  .product_showcase p {
    font-size: 70px;
    font-weight: bold;
  }


.product_showcase img:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  border: 3px solid rgb(56, 56, 56);
  padding: 2rem;
  transition: ease 0.3s;
}

#customer_Feedback {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15rem;
  border-top: 3.5px solid rgb(162, 162, 162);
  background: linear-gradient(to bottom, rgb(235, 235, 235) 0%, rgb(221, 221, 221) 100%);
}

#customer_Feedback p {
  margin-top: 10rem;
  padding: 2rem 9rem 0rem 9rem;
  font-size: 30px;
  text-align: left;
}

#customer_Feedback h2 {
  font-size: 90px;
  margin:  12.5rem 0 4rem 0;
  text-align: left;
  padding-left: 8rem;
}

#homepage_aboutUs {
  background: url(epicLaptop2.jpg);
background-size: 110rem 100rem;
background-position: left 90%;
height: 850px;
display: flex;
flex-direction: column;
text-align: left;
justify-content: center;
border-top: 3.5px solid rgb(162, 162, 162);
}

#homepage_aboutUs p {
  font-size: 35px;
  padding: 3.5rem 10rem;
  padding-bottom: 32.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 2px rgb(101, 101, 101);
  word-spacing: 1.5px;
  font-weight: 600;
}

#homepage_aboutUs button {
  border-radius: 10px;
  border: 1.5px solid black;
  width: 105px;
  height: 45px;
  font-size: 14px;
  margin-left: 20rem;

  
}

#homepage_aboutUs button:hover{
  background: linear-gradient(to bottom, rgb(230, 230, 230) 0%, rgb(187, 187, 187) 100%);
  border: 1px rgb(0, 0, 0) solid;
  transition: 0.2s ease;
  font-size: 13px;
}

#homepage_aboutUs button:active {
  background: linear-gradient(to bottom, rgb(180, 180, 180) 0%, rgb(255, 255, 255) 100%);
  border: 1px rgb(66, 66, 66) solid;
  
}

.learnMoreButton {
display: flex;
justify-content: flex-end;
align-items: flex-end;
margin-right: 20rem;
}


footer {
    color: rgb(0, 0, 0);
    border-top: 1.25px solid rgb(0, 0, 0); 
    border-radius: 4px;
}

footer a  {
  font-size: 15.5px;
}

footer a:hover {
  color: rgb(255, 47, 47); 
  font-size: 16px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0rem 0rem 2rem;
  text-align: center;
  margin-left: 2rem;
  
}

footer ul li {
  padding: 0.35rem;
}

footer p {
  text-align: right;
  padding: 2rem 6rem 0.5rem 0;
}


/* Styling for the category page*/

#category_main h1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 60px;
  font-weight: bolder;
}

.category_content {
  display: flex;
  justify-content: center;
  margin: 6rem 0 15rem 0;

}

.category_content figure {
  padding: 2.15rem;
  margin: 1.50rem;
  border: 2px solid black ;
  border-radius: 8px;
  box-shadow: inset 1px 5px 20px rgb(249, 249, 249);
}

.category_content figure:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  border: 3px solid rgb(56, 56, 56);

 
}

.category_content figcaption {
  text-align: center;
  margin-top: 2rem;
  font-size: 22.5px;
  text-shadow: none;
  font-weight: bold;
}

.category_content figure img:hover {
  padding: 1rem;
  transition: 0.3s ease;
}


/* Category for designing the pricing list*/

#prices_article h1 {
  text-align: center;
  margin: 5rem 0 10rem 0;
  font-size: 75px;
}

#prices_article h2 {
  background: none;
  color: black;
  font-size: 30px;
  margin: 15rem 0 0 15rem;
  text-decoration: underline;
}

#prices_article p {
  padding: 0rem 20rem;
  font-size: 20px;
  margin-top: 5rem;
  margin-left: 5rem;
 }

 #prices_main h3 {
  text-align: center;
  margin: 15rem 0 6rem 0;
  font-size: 50px;
 }

 .price_table {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 table {
  text-align: center;
  width: 1000px;
  height: 500px;
  padding-top: 2rem;
  margin-bottom: 8rem;
  font-size: 25px;
  border: 3px solid black;
  box-shadow: inset 10px 10px 9px rgb(235, 235, 235);
  border-radius: 8px;
  table-layout: auto;
 }

 .title {
  font-weight: 700;
 }
 
 thead {
  font-size: 35px ;
  padding-bottom: 5rem;
  font-weight: bolder;
 
 }


 th {
  font-weight: bolder;  
 }


 /* Design for the product page*/

 .filter_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10rem;
  margin-bottom: 3rem;
 }

.filter_button {
  margin: 0.5rem;
  width: 4.25rem;
  height: 1.35rem;

}

.filter_container button {
  border: 1.40px solid rgb(76, 76, 76);
  border-radius: 7px;
  background: linear-gradient(to bottom, rgb(240, 240, 240) 0%, rgb(236, 236, 236) 100%);
  box-shadow: inset 2px 2px 10px rgb(220, 220, 220);
}

.filter_container button:hover {
  background: linear-gradient(to bottom, rgb(234, 234, 234) 0%, rgb(215, 215, 215) 100%);
  font-size: 12px;
  transition: ease 0.3s;
}

.product_highlighting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 8rem 3rem;
}

.product_highlighting figure {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 4rem;
  width: 1000px;
  height: 400px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 2rem;
}

.product_highlighting figure:hover {
  background-color: rgb(220, 220, 220);
  box-shadow: inset 1px 5px 20px rgb(249, 249, 249);
}

.product_highlighting figure img:hover {
  padding: 0.5rem;
  transition: 0.4s ease;
  background-color: rgb(230, 230, 230);
  box-shadow: inset 1px 5px 20px rgb(249, 249, 249);
  border: 1px solid rgb(157, 157, 157);
  border-radius: 10px;
 
}

.product_highlighting img {
  margin-right: 15rem;

}





#addToCart_button {
  align-content: flex-end;
  height: 40px;
  width: 95px;
  border-radius: 15.5px;
  font-size: 15px;
  border: 2px solid rgb(0, 0, 0);
  background: rgb(26, 26, 26);
  color: white;
  box-shadow: none;
  margin-top: 15rem;
}

#addToCart_button:hover {
  font-size: 14.2px;
  transition: ease 0.3s;
  background: rgb(0, 0, 0);
  border: 2px solid rgb(135, 135, 135);
}


.product_highlighting figcaption {
  font-size: 30px;
  font-weight: bolder;
  margin-left: -12.5rem;

}

.product_price {
  font-size: 15px;
  margin-top: 2.5rem;
  text-align: center;
}


 #products_main h1 {
  text-align: center;
  margin: 12rem 0 10rem 0;
  font-size: 60px;
 }

/* Design for the shopping cart page */

#shoppingCartPage h1 {
text-align: left;
font-size: 40px;
margin: 5rem 0rem 0rem 8rem;

}

#shopping_cart_page  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10rem;
  
}

#cart_product {
  border: 2px solid black;
  border-radius: 8px;
  width: 800px;
  height: 500px;
  background: rgb(240, 240, 240);
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 10px 10px 9px rgb(235, 235, 235);
 /* display: none; */

}




#shoppingCartProductName {
  font-size: 27.5px;
  margin-top: 2rem;
}

#trashCan {
  margin-left: 30rem;
  border: 3.5px solid black;
}

#trashCan:hover {
  cursor: pointer;
  transition: ease 0.3s;
  padding: 0.15rem;
}

#product_amount {
  border: 2.5px solid black;
  background: none;
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  margin-top: -2.5rem;
  margin-right: 30rem;
}

#cart_product_prices {
  border: 2px solid black;
  border-radius: 8px;
  width: 400px;
  height: 475px;
  background: rgb(240, 240, 240);
  box-shadow: inset 10px 10px 9px rgb(235, 235, 235);
  text-align: center;
}

#cart_product_prices figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  
}

#cart_product_prices p {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 20px;
}

#cart_product_prices h3 {
  font-weight: 700;
  font-size: 24px;
}

#product_pricetag {
  font-size: 3rem;
}

#shipping_cost { 
  margin-top: 1rem;
}

hr {
  border: 1px rgb(116, 115, 115) solid;
  width: 100%;
  margin-bottom: 1rem;
}

#cart_product_prices button {
  width: 380px;
  height: 70px;
  margin-top: 0.75rem;
  border: 1.5px solid black;
  border-radius: 4px;
  background-color: rgb(255, 47, 47); 
  font-size: 18.5px;
}

#cart_product_prices button:hover {
  background-color: rgb(244, 0, 0) ;
  border: 2px solid black;
  box-shadow: inset 5px 5px 10px rgb(255, 26, 26);
}

#cart_total {
  margin-top: 0.25rem;
}

/* Number displayed at the shopping cart */

#cartProductAmount {
  font-size: 12.5px;
  padding: 0.25rem;
  border-radius: 100px;
  background: rgb(239, 239, 239);
  margin-left: -16.15rem;
  margin-top: 1.5rem;
  display: none;
}



/* Media query for phones*/

      @media only screen and (max-width: 1400px) {
        nav {
          flex-direction: column;
          align-items:center;
          justify-content: space-around;
          background-color: rgb(255, 255, 255);
          padding: 1rem;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          width: 100%;
        }

        li {
          margin-right: 5rem;

        }

        #idCart {
          margin: 2rem;
          margin-top: 3rem;
        }

        header {
          padding: 1rem;
        }

        #cartProductAmount {
          margin-right: -2.85rem; 
          margin-top: -2.85rem;
          font-size: 12.5px;
          padding: 0.25rem;
          border-radius: 100px;
          background: rgb(239, 239, 239);
          display: none;
        }


        #homepage_article h1 {
          font-size: 60px;
          padding: 5rem 0 2rem 2rem;
          font-size: 15vw;
        }

        #homepage_main h2 {
          font-size: 50px;
          margin-top: 5rem;
          margin-bottom: 4rem;
        }

        #homepage_main p {
          margin-bottom: 6rem;
          font-size: 15px;
        }

        .product_showcase {
          flex-direction: column;
        }

        .product_showcase img {
          height: 250px;
          width: 250px;
          margin-top: 2rem;
          margin: 0rem 5rem 0.5rem 0.5rem;
          padding: 0.5rem;
        }

        .product_showcase img:hover {
          padding: 1rem;
        }

        .product_showcase p {
          font-size: 30vw;
          font-weight: bold;
          text-align: center;
          margin-bottom: 1rem;
        }

        #customer_Feedback p {
          margin-top: 5rem;
          padding: 1rem 2rem 0rem 2rem;
          font-size: 20px;
          text-align: left;
        }

        #customer_Feedback h2 {
          font-size: 60px;
          margin: 8.5rem 0 2rem 0;
          text-align: left;
          padding-left: 2rem;
        }

        #homepage_aboutUs p {
          font-size: 30px;
          padding: 1.5rem 5rem;
          padding-bottom: 22.5rem;
          color: rgb(255, 255, 255);
          text-shadow: 1px 2px 2px rgb(101, 101, 101);
          word-spacing: 1.5px;
          font-weight: 600;
        }

        #homepage_aboutUs button {
          width: 95px;
          height: 40px;
          font-size: 14px;
          margin-left: 5rem;
        }

        footer {
          padding: -4rem;
          margin-top: 10rem;
        }

        footer ul {
          margin-left: 5rem;
        }

        footer p {
          padding: 1rem 3rem 0.5rem 0;
        }

        #category_main h1 {
          margin-top: 3rem;
          font-size: 40px;
        }

        .category_content {
          flex-direction: column;
          align-items: center;
          margin: 3rem 0 2rem 0;
        }

        .category_content figure {
          margin: 1rem;
          width: 300px;
          height: 325px;
        }

        .category_content figcaption {
          margin-top: 1rem;
          font-size: 18px;
        }

        #prices_article h1 {
          margin: 3rem 0 5rem 0;
          font-size: 50px;
        }

        #prices_article h2 {
          margin: 10rem 0 0rem 5rem;
          font-size: 20px;
        }

        #prices_article p {
          padding: 0rem 5rem;
          font-size: 15px;
          margin-top: 3rem;
          margin-left: 2rem;
        }

        #prices_main h3 {
          margin: 10rem 0 8rem 0;
          font-size: 40px;
        }
        .price_table {
          width: 100%;
          height: 80vw;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 8rem;
        }

        table {
          margin-top: 4rem;
          padding-top: 2rem;
          margin-bottom: 10rem;
          font-size: 20px;
        }

        th {
          font-size: 1.45rem;
          padding-bottom: 2rem;
        }

        thead {
          font-size:1.75rem;
        }

        .filter_container {
          margin-right: 1rem;
          margin-bottom: 1rem;
        }

        .filter_button {
          width: 4rem;
          height: 1.2rem;
        }
        .product_highlighting figure {
          margin-right: 3rem;
          margin-bottom: 1rem;
          width: 100%; 
          height: auto; /* Allow height to adjust based on content */
          display: flex;
          align-items: center; /* Align items vertically */
          justify-content: space-between; /* Add space between image and caption */
        }
        
        .product_highlighting figure button {
          margin-right: 1rem; 
          margin-bottom: -1rem;
        }

        .product_buttons {
          margin-left: -15rem;
        }
        
        .addToCart_button,
        .buy_button {
          margin-bottom: 2rem;
          margin-right: 5rem;
          padding: 0.5rem 1rem; 
          width: auto;
          font-size: 1rem;
        }
        
        .product_highlighting img {
          height: 150px; /* Adjust height based on aspect ratio */
          max-height: 12.5rem; /* Limit maximum height */
          width: 125px; /* Allow width to adjust based on aspect ratio */
          max-width: 8rem; /* Limit maximum width */
        }

        .product_highlighting figure img:hover {
          padding: 0.25rem;
        }
        
        .product_highlighting figcaption {
          margin-left: -15rem;
        }
        
        .product_price {
          font-size: 15px;
          margin-top: 1.5rem;
          text-align: center;
        }

        #products_main h1 {
          margin: 8rem 0 5rem 0;
          font-size: 40px;
        }

        #shoppingCartPage h1 {
          margin: 3rem 0 0rem 1rem;
          font-size: 30px;
        }

        #shopping_cart_page {
          padding: 5rem;
        }

        #cart_product {
          width: 80%;
          height: 450px;
          margin-right: 1rem;
        }

        #cart_product_prices {
          width: 300px;
          height: 450px;
          font-size: 0.5rem;
        }

        #cart_product_prices h3 {
          font-size: 1rem;
          padding: 1rem;
        }

        #trashCan {
          margin-left: 12.5rem;
        }

        #product_amount {
          width: 50px;
          height: 30px;
          font-size: 15px;
          margin-top: -1.5rem;
          margin-right: 20rem;
          margin-left: 5rem;
        }

        hr {
          width: 95%;
          margin-bottom: 0.5rem;
        }

        #cart_product_prices button {
          width: 100%;
          height: 50px;
          font-size: 15px;
          border-radius: 10px;
          margin-top: 3rem;
        }

        #cart_total {
          margin-top: 0.25rem;
        }

        #product_pricetag {
          font-size: 35.5px;
        }
      }